:root{
  --main-bg: #0c0c0c;
  --section-bg: #242425;
  --main-text: #E6E8EB;
  --secondary-text: #A1A6B0;
  --detail: #232838;
  --accent: #db0018;
}

.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 0 24px;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    position: relative;
}
.navbar-element.logo{
    font-size: 28px;
    font-weight: 600;
    cursor: default;
    user-select: none;
    position: absolute;
    inset: 0;
}
.navbar-element{
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--main-text);
    font-weight: 500;
    cursor: pointer;
    position: relative;

    &:not(:first-child)::after, &.selected::after{
        content: "";
        position: absolute;
        bottom: 25px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: var(--accent);
        display: block;

        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.2s ease;
    }
    &:not(:first-child):hover::after, &.selected::after{
        transform: scaleX(1);
    }
}