:root{
  --main-bg: #0c0c0c;
  --section-bg: #242425;
  --main-text: #E6E8EB;
  --secondary-text: #A1A6B0;
  --detail: #232838;
  --accent: #db0018;
}

.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 0 24px;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
}
.navbar-element.logo{
    margin-right: auto;
    font-size: 28px;
    font-weight: 600;
    cursor: default;
}
.navbar-element{
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--main-text);
    font-weight: 500;
    cursor: pointer;
}
/* .red{
    color: var(--accent);
} */