:root{
  --main-bg: #0c0c0c;
  --section-bg: #242425;
  --main-text: #E6E8EB;
  --secondary-text: #A1A6B0;
  --detail: #232838;
  --accent: #db0018;
}
.about-header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../assets/images/glowne_tlo_edydtowne.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: 
            blur(5px)
            brightness(50%);
        z-index: -1;
    }
}
.under-text{
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: var(--secondary-text);
    font-size: 25px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    user-select: none;
}
.middle-text{
    font-size: 32px;
    color: var(--main-text);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    user-select: none;
}
.about-title{
    margin: 0;
    font-size: 80px;
    font-weight: 700;
    justify-self: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    color: var(--accent);
    user-select: none;
}
.about-sections{
    margin: 0 10%;
}
.about-section{
    height: 40vh;
    padding: 20px;
    background-color: var(--section-bg);
    border: 1.5px solid var(--detail);
    border-radius: 24px;
    corner-shape: squircle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    opacity: 0;
    scale: .8;

    animation: fadeIn forwards;
    animation-timeline: view();
    animation-range-start: 50px;
    animation-range-end: 400px;

    &:not(:last-child){
        margin-bottom: 15px;
    }
    &:first-child{
        margin-top: 12px;
    }
}
.about-question{
    font-size: 35px;
    color: var(--accent);
    margin: 0;
    font-weight: 500;
    text-align: center;
}
.about-desc{
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    color: var(--secondary-text);
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.about-btn-box{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 50px;
}
.to-presentation{
    margin-right: 50px;
    background-color: transparent;
    border: 2px solid var(--accent);
    cursor: pointer;
    padding: 13px 53px;
    border-radius: 40px;
    corner-shape: squircle;
    color: var(--accent);
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    scale: .8;

    animation: fadeIn forwards;
    animation-timeline: view();
    animation-range-start: 20px;
    animation-range-end: 70px;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover{
        background-color: var(--accent);
        color: var(--main-text);
    }
}
@keyframes fadeIn {
    to{
        opacity: 1;
        scale: 1;
    }
}
